*{
    margin: 0;
    padding: 0;
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main{
    background-image: url('https://images.unsplash.com/photo-1621801306185-8c0ccf9c8eb8?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWFuJTIwbWFycmlhZ2V8ZW58MHx8MHx8fDA%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    opacity: 0.7; 
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 350px;
}
.welcome h1{
    padding: 20px;
    font-family: 'Petit Formal Script', cursive;
    letter-spacing: 13px;
    font-weight: 900;
    backdrop-filter: blur(23px);
    text-align: center;
}

h1{
    color: transparent;
    background: linear-gradient(blue, red, green);
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 5px;
    font-size: 6vw;
    padding: 0px 12px;
}
.welcome button {
    height: 40px;
    width: 200px;
    margin: 10px;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
}

.bride{
    color: red;
    background-color: white;
    border: 2px solid red;
    transition: all ease 1s;
}
.bride:hover{
    scale: 1.1;
    border: 2px solid white;
}

.groom{
    color: white;
    background-color: red;
    border: 2px solid white;
    transition: all ease 1s;
}
.groom:hover{
    scale: 1.1;
    border: 2px solid red;
}

.border{
    height: 65px;
    background-image: url('background.jpeg');
}
.side-border{
    height: 65px;
    background-image: url('background.jpeg');
    rotate:  180deg;
}
.intro{
    height: 300px;
}
.intro h1{
    padding: 12px;
}
.intro h3{
    color: rgb(209, 89, 89);
    padding: 20px;
    letter-spacing: 3px;
}
.intro h4{
    display: inline-block;
    margin-right: 120px;
    letter-spacing: 3px;
    font-weight: bold;
}
h2{
   color: rgb(209, 89, 89);
   letter-spacing: 3px;
   font-weight: bolder;
   padding: 0px 12px;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    /* width: -webkit-fill-available; */
    border-radius: 12px;
    margin: 16px;
}

.name{
    display: flex;
    margin-top: 12px;
    margin-bottom: 58px;
    align-items: center;
    justify-content: space-around;
}

.functions-list{
    margin: 8px;
}
.function{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 38px;
}

.function img{
    height: 300px;
    width: 460px;
    border: 2px solid red;
    border-radius: 12px;
}

.function-details{
    height: auto;
    width: auto;
    border: 2px dotted red;
    border-radius: 12px;
    padding: 18px;
    margin: 22px;
}

.function-details button{
    color: white;
    background-color: rgb(209, 89, 89);
    height: 35px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    transition: all ease 1s;
}

.function-details button:hover{
    scale: 1.1;
    color: rgb(209, 89, 89);
    background-color: white;
    border: 1px solid rgb(209, 89, 89);
}

.function-details h3, 
.details h3{
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 0px 12px;
}
.invitation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.invitation p{
    font-size: 33px;
    text-align: center;
    color: red;
    font-weight: 900;
    letter-spacing: 4px;

}

dialog{
    height: auto;
    width: auto;
    border-radius: 15px;
    margin: 20px;
    padding: 12px;
    position: absolute;
    top: 10%;
    background-color: transparent;
    backdrop-filter: blur(42px);
    color: rgb(209, 89, 89);
    
}

dialog button{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 4px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 32px;
    color: red;
    transition: all ease 2s;
}
dialog button:hover{
    scale: 1.1;
    color: white;
}

dialog .about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
dialog h2{
    text-align: center;
}
dialog  h3{
    text-align: center;
    color: red;
    font-style: italic;
}
.img{
    height: 180px;
    width: 180px;
    border-radius: 50% ;
    padding: 5px;
    background:linear-gradient(yellow, orange, pink, purple, green);
    box-shadow: 2px 5px 100px 4px ;
    overflow: hidden;
}
img:hover{
    scale: 1.1;
}

img{
   height: 180px;
   width: 180px;
   border-radius: 50%;
   transition: all ease 1s; 
  }
.wed-img{
    height: 100px;
    width: 100px;
    /* box-shadow: 2px 2px 1000px 2px rgb(209, 89, 89); */
}

.name img{
    box-shadow: 2px 2px 1000px 1px rgb(209, 89, 89);

}

@media screen and (max-width: 750px){
    .two{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .function-details{
        width: 100%;
    }
    .video{
        width: -webkit-fill-available;
    }
}